<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonFastCGI" path="*" verb="*" modules="FastCgiModule"
        scriptProcessor="c:\python37\python.exe|c:\python37\lib\site-packages\wfastcgi.py"
        resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- Required settings -->
    <add key="PYTHONPATH" value="D:\App\abelit-DataService-master" />
    <add key="WSGI_HANDLER" value="main.app" />
    <add key="WSGI_LOG" value="D:\logs\web.log" />
  </appSettings>
</configuration>